@model IEnumerable<BethanysPieShop.Models.Pie> 
@{
    ViewData["Title"] = "Home";
}


@foreach (var pie in Model){
    <div>
        <h2>@pie.Name</h2>
        <h3>@pie.Price.ToString("c")</h3>
    </div>
}